---

internal_interface: "eth0"
external_interface: "eth0"

network_scheduler: "fq_codel"

infiniband_available: False
rdma_configure_single_port: True

# This makes ansible-role-ferm-firewall restart fail2ban if ferm is reloaded.
ferm_fail2ban: True

# Do not install host keys on this node
install_ssh_host_keys: False
# Do install the known_hosts files
install_ssh_known_hosts_from_http: True

# override fgci default firewall rules
ferm_rules:
 05_ssh:
 - chain: INPUT
   domains: [ip, ip6]
   rules:
     - {rule: "policy DROP;",  comment: "global policy"}
     - {rule: "mod state state INVALID DROP;", comment: "connection tracking: drop"}
     - {rule: "mod state state (ESTABLISHED RELATED) ACCEPT;", comment: "connection tracking"}
     - {rule: "interface lo ACCEPT;", comment: "allow local packet"}
     - {rule: "proto icmp ACCEPT;", comment: "respond to ping"}
 - chain: OUTPUT
   domains:
     - ip
     - ip6
   rules:
     - rule: "policy ACCEPT;"
       comment: global policy

# Ferm - firewall
ferm_rules_extra:
 08_fail2ban:
 - chain: INPUT
   table: filter
   domains: [ip]
   rules:
     - {rule: "proto tcp mod multiport destination-ports (22) jump f2b-sshd;", comment: "default fail2ban rule"}
 - chain: f2b-sshd
   table: filter
   domains: [ip]
   rules:
     - {rule: "RETURN;", comment: "default fail2ban rule"}
 90_ssh_internet:
 - chain: INPUT
   table: filter
   domains: [ip, ip6]
   rules:
     - {rule: "proto tcp dport (22) mod state state (NEW) mod comment comment 'Allow new SSH' ACCEPT;", comment: "SSH allow new connections from everywhere"}

# Fail2ban - firewall
fail2ban_config:
  ignoreip: 127.0.0.0/8 {{ trusted_public_networks }}
  bantime: 600
  findtime: 1800
  maxretry: 8
  destemail: root@localhost
fail2ban_jails:
  sshd:
    banaction: "iptables-multiport"
    enabled: 'true'
    port: 'ssh'
    protocol: 'tcp'
    logpath: '/var/log/secure'
    maxretry: 10

unconfigured_packages:
  - fgci-meta-login

sshd:
 PermitRootLogin: "without-password"

ntp_config_server: [ "0.fi.pool.ntp.org", "1.fi.pool.ntp.org", "2.fi.pool.ntp.org" ]

#CVMFS
cvmfs_quota_limit: "10240"

#Limits for MPI
limits_domains:
  - domain: '*'
    type: 'hard'
    item: memlock
    value: unlimited
  - domain: '*'
    type: 'soft'
    item: memlock
    value: unlimited
  - domain: '*'
    type: 'hard'
    item: stack
    value: unlimited
  - domain: '*'
    type: 'soft'
    item: stack
    value: unlimited

kickstart_packages: |
  atlas
  bash-completion
  blas
  bonnie++
  cvs
  epel-release
  fftw
  fftw2
  gcc
  gcc-c++
  gcc-gfortran
  git
  glibc.i686
  hdf5-openmpi
  @infiniband
  infiniband-diags
  iperf
  java-1.8.0-openjdk
  lapack
  libcgroup
  libgcc.i686
  libgfortran
  libstdc++.i686
  libxml2.i686
  mcelog
  mpitests-openmpi
  netcdf
  nfs-utils
  nscd
  numpy
  openmpi
  openssh-server
  perl-Filesys-Df
  subversion
  xerces-c
  yum-plugin-fastestmirror
  Lmod

